{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Detalhes da Conta Bancária</h1>

    <div class="card">
        <div class="card-header">
            Conta: {{ conta.nome }}
        </div>
        <div class="card-body">
            <h5 class="card-title"><strong>Saldo Atual:</strong> {{ conta.saldo_atual_formatado }}</h5>
            <p class="card-text">Saldo Inicial: {{ conta.saldo_inicial_formatado }}</p>
            <p class="card-text">Status: {{ conta.status_formatado }}</p>
            <a href="{% url 'conta_bancaria_update' conta.pk %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'conta_bancaria_delete' conta.pk %}" class="btn btn-danger">Excluir</a>
            <a href="{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{% url 'conta_bancaria_list' %}{% endif %}" class="btn btn-secondary">Voltar</a>
        </div>
    </div>

    <!-- Gráfico de movimentações -->
    <h3 class="mt-5">Análise Financeira Geral por Mês</h3>
    <canvas id="movimentacoesChart"></canvas>
    

    {% comment %} Tabela Movimentacoes {% endcomment %}
    <h2 class="mt-4">Movimentações Relacionadas</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Data</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Tipo</th>
                <th>Situação</th>
            </tr>
        </thead>
        <tbody>
            {% for operacao in movimentacoes %}
                <tr>
                    <td>{{ operacao.data|date:"d/m/Y" }}</td>
                    {% if operacao.descricao == none %}
                    <td>-</td>
                    {% else %}
                    <td>{{ operacao.descricao }}</td>
                    {% endif %}
                    <td>{{ operacao.valor_formatado }}</td>
                    <td>
                        {% if operacao.tipo_despesa %}
                        Saída
                        {% else %}
                        Entrada 
                        {% endif %}
                    </td>
                    <td>{{ operacao.situacao_formatado }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">Nenhuma movimentação encontrada</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Incluindo o Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Dados do gráfico
    const labels = {{ labels|safe }};
    const entradas = {{ entradas|safe }};
    const saidas = {{ saidas|safe }};
    const lp = {{ lp|safe }};

    const data = {
        labels: labels,
        datasets: [
            {
                label: 'Lucro/Prejuízo',
                data: lp,
                backgroundColor: 'rgba(54, 162, 235)', // Cor para a linha do lucro/prejuízo
                borderColor: 'rgba(54, 162, 235)', // Cor da linha
                type: 'line', // Tipo de gráfico
                tension: 0.2,
                order: 0, // Ordem para que fique sobreposto às barras
            },
            {
                label: 'Receitas',
                data: entradas,
                backgroundColor: 'rgba(75, 192, 192, 0.6)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
                
            },
            {
                label: 'Despesas',
                data: saidas,
                backgroundColor: 'rgba(255, 99, 132, 0.6)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            },
        ]
    };

    // Configurações do gráfico
    const config = {
        type: 'bar', // Tipo de gráfico principal
        data: data,
        options: {
            animations: {
                radius: {
                  duration: 400,
                  easing: 'easeOutQuad',
                }
            },
            hoverRadius: 8,
            interaction: {
            mode: 'nearest',
            intersect: true,
            axis: 'y'
            },
            responsive: true,
            plugins: {
                tooltip: {
                    enabled: true
                },
                legend: {
                    position: 'top',
                },
            }
        },
    };

    // Inicializando o gráfico
    const movimentacoesChart = new Chart(
        document.getElementById('movimentacoesChart'),
        config
    );
</script>


{% endblock %}
