{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Entradas</h1>
    <a href="{% url 'entrada-create' %}" class="btn btn-primary mb-3">Nova Entrada</a>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary mb-3">Voltar</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Data</th>
                <th>Conta</th>
                <th>Tipo Pagamento</th>
                <th>Tipo Entrada</th>
                <th>Situação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for entrada in object_list %}
            <tr>
                <td>{{ entrada.cliente }}</td>
                {% if entrada.descricao == none %}
                    <td>-</td>
                {% else %}
                    <td>{{ entrada.descricao }}</td>
                {% endif %}
                <td>{{ entrada.valor_formatado }}</td>
                <td>{{ entrada.data|date:"d/m/Y" }}</td>
                <td>{{ entrada.conta }}</td>
                <td>{{ entrada.tipo_pagamento }}</td>
                <td>{{ entrada.tipo_receita }}</td>
                <td>{{ entrada.situacao_formatado }}</td>
                <td>
                    <a href="{% url 'entrada-detail' entrada.id %}" class="btn btn-info btn-sm">Ver</a>
                    <a href="{% url 'entrada-update' entrada.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'entrada-delete' entrada.id %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="10">Nenhuma entrada encontrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
