{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1>Detalhes da Entrada</h1>
    <p><strong>Cliente:</strong> {{ object.cliente }}</p>
    <p><strong>Descrição:</strong> {{ object.descricao }}</p>
    <p><strong>Valor:</strong> {{ object.valor }}</p>
    <p><strong>Data:</strong> {{ object.data }}</p>
    <p><strong>Banco:</strong> {{ object.banco }}</p>
    <p><strong>Tipo de Pagamento:</strong> {{ object.tipo_pagamento }}</p>
    <p><strong>Tipo de Entrada:</strong> {{ object.tipo_entrada }}</p>
    <p><strong>Situação:</strong> {{ object.get_situacao_display }}</p>

    <a href="{% url 'entrada-update' object.id %}" class="btn btn-warning">Editar</a>
    <a href="{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{% url 'entrada-list' %}{% endif %}" class="btn btn-secondary">Voltar</a>
</div>
{% endblock %}
