{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Atualizar Cliente</h1>
    <form method="POST">
        <table>
            {% csrf_token %}
            {{ form|crispy }}
        </table>
        <button type="submit" class="btn btn-primary btn-sm">Salvar Alterações</button>
        <a href="{% url 'clientes-delete' object.id %}" class="btn btn-danger btn-sm">Excluir</a>
        <a href="{% url 'clientes-list' %}" class="btn btn-secondary btn-sm">Voltar</a>
    </form>
</div>
<script>
    

    function formatarCpfCnpj(input, tipoPessoa) {
        var valor = input.value.replace(/\D/g, ''); // Remove todos os caracteres não numéricos
        
        if (tipoPessoa === 'pf') {
            // Limitar a 11 dígitos (CPF sem formatação) e formatar como CPF: 000.000.000-00
            if (valor.length > 11) valor = valor.slice(0, 11);
            valor = valor.replace(/(\d{3})(\d)/, "$1.$2");
            valor = valor.replace(/(\d{3})(\d)/, "$1.$2");
            valor = valor.replace(/(\d{3})(\d{1,2})$/, "$1-$2");
            input.maxLength = 14; // Limitar a 14 caracteres com a formatação
        } else if (tipoPessoa === 'pj') {
            // Limitar a 14 dígitos (CNPJ sem formatação) e formatar como CNPJ: 00.000.000/0000-00
            if (valor.length > 14) valor = valor.slice(0, 14);
            valor = valor.replace(/^(\d{2})(\d)/, "$1.$2");
            valor = valor.replace(/^(\d{2})\.(\d{3})(\d)/, "$1.$2.$3");
            valor = valor.replace(/\.(\d{3})(\d)/, ".$1/$2");
            valor = valor.replace(/(\d{4})(\d)/, "$1-$2");
            input.maxLength = 18; // Limitar a 18 caracteres com a formatação
        }

        input.value = valor;
    }

    function aplicarFormatacao() {
        
        const tipoPessoaInput = document.getElementById("id_tipo_pessoa");
        const cnpjCpfInput = document.getElementById("id_cnpj_cpf");

        // Verificar o tipo de pessoa (Física ou Jurídica)
        tipoPessoaInput.addEventListener("change", function() {
            const tipoPessoa = tipoPessoaInput.value;
            
            // Limpar o campo e ajustar o formato de CPF ou CNPJ
            cnpjCpfInput.value = ""; 
            cnpjCpfInput.disabled = tipoPessoa === ""; // Desabilitar o campo se o tipo de pessoa não estiver selecionado
            if (tipoPessoa === "") {
                alterarLabel("CNPJ/CPF");
                cnpjCpfInput.disabled = true;
            }
            else if (tipoPessoa === "pf") {
                alterarLabel("CPF");
                cnpjCpfInput.maxLength = 14; // Limite para CPF
            } else if (tipoPessoa === "pj") {
                alterarLabel("CNPJ");
                cnpjCpfInput.maxLength = 18; // Limite para CNPJ
            }

            // Formatar CPF ou CNPJ ao digitar
            cnpjCpfInput.addEventListener("input", function() {
                formatarCpfCnpj(cnpjCpfInput, tipoPessoa);
            });
        });

        // Travar o campo CPF/CNPJ ao carregar a página, até que o tipo de pessoa seja selecionado
        document.addEventListener("DOMContentLoaded", function() {
            cnpjCpfInput.disabled = true;
        });
    }

    function alterarLabel(novoTexto) {
        const labelElement = document.querySelector("label[for='id_cnpj_cpf']");
        if (labelElement) {
            labelElement.textContent = novoTexto;
        }
    }

    // Executar a formatação e lógica ao carregar a página
    document.addEventListener("DOMContentLoaded", function() {
        alterarLabel("CNPJ/CPF");
        document.getElementById("id_cnpj_cpf").disabled = true;
        aplicarFormatacao();
    });
</script>
{% endblock  %}
