{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">{% if form.instance.pk %}Editar Saída{% else %}Nova Saída{% endif %}</h1>
    <form method="post" id="saidaForm">
        {% csrf_token %}
        {{ form|crispy }}

        {% if duplicate_warning and saldo_negativo %}
            <div id="duplicate&SaldoAlert" class="alert alert-warning" role="alert" style="display:none;">
                Já existe uma saída idêntica a esta e irá deixar com saldo negativo. Deseja continuar mesmo assim?
                <div>
                    <button type="button" class="btn btn-danger" id="noBtn">Não</button>
                    <button type="button" class="btn btn-success" id="yesBtn">Sim</button>
                </div>
            </div> 
        {% endif %}

        {% if duplicate_warning and not saldo_negativo %}
            <div id="duplicateAlert" class="alert alert-warning" role="alert" style="display:none;">
                Já existe uma saída idêntica a esta. Deseja continuar mesmo assim?
                <div>
                    <button type="button" class="btn btn-danger" id="noBtnDuplicate">Não</button>
                    <button type="button" class="btn btn-success" id="yesBtnDuplicate">Sim</button>
                </div>
            </div> 
        {% endif %}
        
        {% if saldo_negativo and not duplicate_warning %}
            <div id="saldoAlert" class="alert alert-warning" role="alert" style="display:none;">
                A conta irá ficar com saldo negativo! Deseja continuar?
                <div>
                    <button type="button" class="btn btn-danger" id="saldoNoBtn">Não</button>
                    <button type="button" class="btn btn-success" id="saldoYesBtn">Sim</button>
                </div>
            </div> 
        {% endif %}
            
        <input type="hidden" name="confirm_duplicate" id="confirm_duplicate" value=''>
        <input type="hidden" name="confirm_saldo_negativo" id="confirm_saldo_negativo" value=''>

        <button id="submitBtn" type="submit" class="btn btn-success">Salvar</button>
        <a href="{% url 'saida-list' %}" class="btn btn-secondary">Cancelar</a>

    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const valorInput = document.querySelector('input[name="valor"]');

        valorInput.addEventListener('blur', function () {
            let value = parseFloat(valorInput.value);
            if (!isNaN(value)) {
                valorInput.value = value.toFixed(2);
            }
        });

        // Lógica para os alertas
        {% if duplicate_warning and saldo_negativo %}
            document.getElementById('duplicate&SaldoAlert').style.display = 'block';
            document.getElementById('submitBtn').style.display = 'none';
            
            document.getElementById('noBtn').addEventListener('click', function () {
                window.location.href = "{% url 'saida-list' %}";
            });

            document.getElementById('yesBtn').addEventListener('click', async function () {
                document.getElementById('confirm_duplicate').value = "true"; 
                document.getElementById('confirm_saldo_negativo').value = "true"; 
                await document.getElementById('saidaForm').submit();
            });
        {% endif %}

        {% if duplicate_warning and not saldo_negativo %}
            document.getElementById('duplicateAlert').style.display = 'block';
            document.getElementById('submitBtn').style.display = 'none';
            
            document.getElementById('noBtnDuplicate').addEventListener('click', function () {
                window.location.href = "{% url 'saida-list' %}";
            });

            document.getElementById('yesBtnDuplicate').addEventListener('click', async function () {
                document.getElementById('confirm_duplicate').value = "true"; 
                await document.getElementById('saidaForm').submit();
            });
        {% endif %}

        {% if saldo_negativo and not duplicate_warning %}
            document.getElementById('saldoAlert').style.display = 'block';
            document.getElementById('submitBtn').style.display = 'none';
            
            document.getElementById('saldoYesBtn').addEventListener('click', function () {
                document.getElementById('confirm_saldo_negativo').value = "true";
                document.getElementById('saidaForm').submit();
            });

            document.getElementById('saldoNoBtn').addEventListener('click', function () {
                window.location.href = "{% url 'saida-list' %}";
            });
        {% endif %}
    });
</script>
{% endblock %}
