{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Listagem de Operações</h1>

    <div class="mb-3">
        <a href="{% url 'operacao-criar' %}" class="btn btn-primary">Criar Nova Operação</a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for operacao in operacoes %}
                <tr>
                    <td>{{ operacao.nome }}</td>
                    <td>{{ operacao.tipo }}</td>
                    <td>{{ operacao.status }}</td>
                    <td>
                        <a href="{% url 'tipo_detail' operacao.objeto.id %}" class="btn btn-primary btn-sm">Detalhes</a>
                        <a href="{% url 'tipo_update' operacao.objeto.id %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'tipo_delete' operacao.objeto.id %}" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
