{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Detalhes do Tipo</h1>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ tipo.nome }}</h4>
            <p class="card-text"><strong>Tipo:</strong> {{ tipo.get_tipo_display }}</p>
            <p class="card-text"><strong>Status:</strong> {{ tipo.get_status_display }}</p>
            <a href="{% url 'tipo-update' tipo.pk %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'tipo-list' %}" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</div>
{% endblock %}
