{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Excluir Tipo</h1>
    <div class="alert alert-danger" role="alert">
        Tem certeza de que deseja excluir o tipo <strong>{{ tipo.nome }}</strong>?
    </div>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
        <a href="{% url 'tipo-list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
